.container {
  background-color: #282c34;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow: auto;
}

.box-img{
  width: 100%;
}

.logo {
  height: 15vh;
  width: 40vw;
  margin: 20px;
}

.link {
  color: #61dafb;
  margin-top: 20px;
  font-size: 20px;
}

.ironman-giphy-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.giflist-box-content{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-image{
  width: 25vw;
  height: 200px;
  margin:10px;
  background-color: antiquewhite;
}

.img-gif{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page-search-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box-search {
    margin-top: -20px;
    width: 100%;
}

.input-text {
  width: 40%;
  height: 40px;
  border-radius: 8px;
  font-size: 20px;
  padding-left: 10px;
}

.box-loading{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1198px) {
  .container{
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .card-image{
    width: 25vw;
    height: 200px;
  }
}

@media only screen and (max-width: 666px) {
  .container{
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .card-image{
    width: 38vw;
    height: 200px;
  }

    .input-text {
    width: 50%;
    height: 35px;
  }
}

@media only screen and (max-width: 500px) {
  .container{
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .card-image{
    width: 80vw;
    height: 200px;
  }

  .input-text {
    width: 70%;
    height: 35px;
  }
}
